# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
.build/
Packages/

# CocoaPods / Carthage
Pods/
Carthage/Build/
